body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a3d0db;
    overflow-x: hidden;
    font-size: 1.2rem;
}

header {
    background-color: #2f5d88;
    height: 2.7rem;
    color: white;
    text-align: left;
    padding: 1.5em 0;
}

header p {
    margin-top: .5rem;
    margin-left: 1rem;
    font-size: 1.2em;
}

header a {
    text-decoration: none;
    color: rgb(207, 174, 124);
}

.container {
    padding: 2.5em;
    position: relative;
    min-height: 70vh;
    max-width: 1200px;
    margin: auto;
}

.comic {
    text-align: center;
    margin-top: 2.5em;
    display: grid;
    align-content: start;
    align-items: center;
    grid-template-columns: auto;
}

.comic h2 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: .75rem;
    text-align: center;
}

.comic img {
    width: 100%;
    height: auto;
    margin-top: .75rem;
}

.comic p {
    font-size: 1.5em;
    text-align: center;
    margin: .1em 0;
}

#comic-date {
    font-size: 1em;
    margin: 0 0;
    padding: 0 0;
    text-align: right;
    color: #4978ab;
    font-style: italic;
    text-decoration: none;
}