h1 {
    font-size: 1.5em; 
}

h2 {
    font-size: 1em;
}

p {
    font-size: 0.875em;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a3d0db;
    transform: scale(2.5); 
    transform-origin: top left;
    width: 40%; 
    overflow-x: hidden;
}

header {
    background-color: #302f88;
    color: white;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 2.5em;
}

header nav ul li {
    margin: 0 0em;
    flex: 1;
}

header nav ul li button {
    color: white;
    background-color: #2f5d88;
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: inline;
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

#about_nav{
    background-color: #4978ab;
}

main {
    padding: 1em 2em;
    position: relative;
    min-height: 31.2vh;
}

main div{
    text-align: center;
}

.section {
    padding: 0em 0;
    align-items: center;
}

.section h1 {
    margin-top: 0;
    text-align: left;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 1em; 
}

.profile-photo {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: .2em;
    margin-left: 30%;
}

.data-list {
    list-style: none;
    padding: 0;
    text-align: right;
    font-size: 0.5em;
}

.data-list li {
    margin: 0.5em 0;
}

#button_grid{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 0.2fr);
    gap: 10px;
    grid-auto-rows: minmax(2rem, auto);
    justify-content: center;
    height: 2.5em;
}

.redirectButton{
    width: 7em;
    border-style:inherit;
    border-radius: .5em;
    text-align: left;
    height: 3em;
    background-color: #2b456b;
    color:rgb(197, 197, 197)
}

.redirectButton:hover{
    background-color: #1e1252;
}

footer {
    background-color: #284e71;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#contacts{
    display: none;
}

#projects-loyaut{
    display: grid;
    grid-template-columns: repeat(2, 0.2fr);
    gap: 1.5em;
    grid-auto-rows: minmax(2rem, auto);
    justify-content: center;
}

#projects{
    display: none;
}

.projects-item{
    height: 1em;
}

.projects-item h3{
    font-size: 1em;
    text-align: left;
    margin: 0 0;
    padding:  0 0;
}

.projects-item h4{
    font-size: .45em;
    text-align: left;
    margin: 0 0;
    padding:  0 0;
}

.projects-item h6{
    font-size: .1em;
    margin: 0 0;
    padding:  0 0;
    text-align: right;
    color: #4978ab;
    font-style: italic;
    text-decoration: none;
}

.project-button{
    height: 1.5em;
    width: 10rem;
    margin-top: 1em;
    text-align: right;
    display:flex;
    border-style: none;
    border-radius: .5em;
    background-color: #2b456b;
    color: rgb(197, 197, 197);
}

.project-button:hover{
    background-color: #1e1252;
}

.project-icon{
    width: .8em;
    height: .8em;
    padding-right: 0.3rem; 
    padding-top: .1em;
}
